ion-grid.accounts{
  margin-top: 30px;
  background:#efefef;
  border-radius: 4px;
  padding-bottom: 20px;
  margin: 20px 15px 0px 15px;
}
ion-icon.ip-icon{
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 22px;
  &.trash-icon{
    color: #cf4848;
  }
}