<ion-content>
  <ion-grid class="logo">
    <ion-row class="logo" text-center>
      <ion-col col-12><img src="../../../assets/img/logo.png"></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><h4>Passer</h4></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><small>Password Security Manager</small></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="register-form">
    <form [formGroup]="registerForm" novalidate>
      <ion-row>
        <ion-col col-12>
          <ion-input formControlName="firstname" placeholder="Firstname" type="text"></ion-input>
          <ion-label><ion-icon name="md-contact"></ion-icon></ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="registerFormSubmitted && registerForm.controls.firstname.errors?.required">
        <ion-col col-12>
          <p class="error">Firstname Field is required</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input formControlName="lastname"  placeholder="Lastname" type="text"></ion-input>
          <ion-label><ion-icon name="md-contact"></ion-icon></ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="registerFormSubmitted && registerForm.controls.lastname.errors?.required">
        <ion-col col-12>
          <p class="error">Lastname Field is required</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input formControlName="email"  placeholder="Email" type="text"></ion-input>
          <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="registerFormSubmitted && registerForm.controls.email.errors?.required">
        <ion-col col-12>
          <p class="error">Email Field is required</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="registerFormSubmitted && registerForm.controls.email.errors?.email">
        <ion-col col-12>
          <p class="error">Enter Valid Email-ID</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input formControlName="password"  placeholder="Password" type="text"></ion-input>
          <ion-label><ion-icon name="md-key" type="password"></ion-icon></ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="registerFormSubmitted && registerForm.controls.password.errors?.required">
        <ion-col col-12>
          <p class="error">Password Field is required</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-button (click)="submitForm()" shape="block">Register</ion-button>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-12>
          <a routerLink="/login">Already have an account?</a>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
