<ion-content>
  <ion-grid class="logo">
    <ion-row class="logo" text-center>
      <ion-col col-12><img src="../../../assets/img/logo.png"></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><h4>Passer</h4></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><small>Password Security Manager</small></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="register-form">
    <ion-row>
      <ion-col col-12>
        <ion-input placeholder="Firstname" type="text"></ion-input>
        <ion-label><ion-icon name="md-contact"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-input placeholder="Lastname" type="text"></ion-input>
        <ion-label><ion-icon name="md-contact"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-input placeholder="Email" type="text"></ion-input>
        <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-input placeholder="Password" type="text"></ion-input>
        <ion-label><ion-icon name="md-key" type="password"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button shape="block">Register</ion-button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12>
        <a routerLink="/login">Already have an account?</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
