<ion-content padding>
  <ion-grid class="logo">
    <ion-row class="logo" text-center>
      <ion-col col-12><img src="../../../assets/img/logo.png"></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><h4>Passer</h4></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12><small>Password Security Manager</small></ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="password">
    <form  novalidate=""  [formGroup]="loginForm" method="POST">
      <ion-row>
        <ion-col col-12>
          <ion-input formControlName="password" name="password" type="{{inputType}}" placeholder="Your Password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 *ngIf="loginFormSubmitted && loginForm.controls.password.errors?.required">
          <p class="error">Password Required</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-button shape="block" [disabled]="!loginForm.valid" (click)="submitLoginForm()">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="show-password">
      <ion-col col-12>
          <ion-icon name="{{passwordIcon}}" (click)="changeInput()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="touch">
    <ion-row text-center>
      <ion-col col-12>
        <ion-icon name="md-finger-print"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12>
        Try Fingerprint Login
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="register">
    <ion-row text-center>
      <ion-col col-12>
        <a routerLink="/register">Create New Account Here</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
